.card {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0;
}

.pagination .page-item .page-link {
    color: #000;
}

.loader {
    text-align: center;
    font-size: 32px;
}

.back-link {
    font-size: 0.9rem;
    display: block;
    margin-bottom: 20px;
    color: #333;
    text-decoration: none;
    text-align: left;
}

.back-link:hover {
    text-decoration: underline;
}


.loader-img {
    width:50px;
    height:50px;
    margin-bottom:50px;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
    } 
}